<!-- <div class="box box1" [@fadeInOut]="!isShown ? 'fadeIn' : 'fadeOut'">
  <button (click)="fadeInOut()">click</button> {{isShown}}
</div>

<div class="box box2" [@fadeInOut]="isShown ? 'fadeIn' : 'fadeOut'">
  <button (click)="fadeInOut()">click</button> {{isShown}}
</div> -->




<!-- <ng-container *ngIf="pageNumber === 1">
  <div class="box box1" [@fadeInOut]="pageNumber === 1 ? 'fadeIn' : 'fadeOut'">
    {{pageNumber}}
    <button (click)="previousPage()">previous</button>
    <button (click)="nextPage()">next</button>
    1111111111
  </div>
</ng-container>

<ng-container *ngIf="pageNumber === 2">
<div class="box box2" [@fadeInOut]="pageNumber === 2 ? 'fadeIn' : 'fadeOut'">
  {{pageNumber}}
  <button (click)="previousPage()">previous</button>
  <button (click)="nextPage()">next</button>
  22222222
</div>
</ng-container>

<ng-container *ngIf="pageNumber === 3">
<div class="box box3" [@fadeInOut]="pageNumber === 3 ? 'fadeIn' : 'fadeOut'">
  {{pageNumber}}
  <button (click)="previousPage()">previous</button>
  <button (click)="nextPage()">next</button>
  33333333
</div>
</ng-container> -->




<!-- <ng-container [ngSwitch]="pageNumber">
  <ng-container *ngSwitchCase="1">
    <div class="box box1" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="2">
    <div class="box box2" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container>
  
  <ng-container *ngSwitchCase="3">
    <div class="box box3" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="4">
    <div class="box box4" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="5">
    <div class="box box5" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container> -->

  <!-- [@fadeInOut]="pageNumber === page.id ? 'fadeIn' : 'fadeOut'" -->

  <!-- <ng-container *ngFor="let page of pages">
    <ng-container *ngSwitchCase="page.id">
      <div class="box box{{page.id}}" [@fadeInOut]="pageNumber === page.id ? 'fadeIn' : 'fadeOut'">
        <button (click)="previousPage()">previous</button>
        <button (click)="nextPage()">next</button>
      </div>
    </ng-container>
  </ng-container> -->

  
<!-- </ng-container> -->

<button (click)="convertToSheet(arr)">click</button>