<!-- <div class="box box1" [@fadeInOut]="!isShown ? 'fadeIn' : 'fadeOut'">
  <button (click)="fadeInOut()">click</button> {{isShown}}
</div>

<div class="box box2" [@fadeInOut]="isShown ? 'fadeIn' : 'fadeOut'">
  <button (click)="fadeInOut()">click</button> {{isShown}}
</div> -->




<!-- <ng-container *ngIf="pageNumber === 1">
  <div class="box box1" [@fadeInOut]="pageNumber === 1 ? 'fadeIn' : 'fadeOut'">
    {{pageNumber}}
    <button (click)="previousPage()">previous</button>
    <button (click)="nextPage()">next</button>
    1111111111
  </div>
</ng-container>

<ng-container *ngIf="pageNumber === 2">
<div class="box box2" [@fadeInOut]="pageNumber === 2 ? 'fadeIn' : 'fadeOut'">
  {{pageNumber}}
  <button (click)="previousPage()">previous</button>
  <button (click)="nextPage()">next</button>
  22222222
</div>
</ng-container>

<ng-container *ngIf="pageNumber === 3">
<div class="box box3" [@fadeInOut]="pageNumber === 3 ? 'fadeIn' : 'fadeOut'">
  {{pageNumber}}
  <button (click)="previousPage()">previous</button>
  <button (click)="nextPage()">next</button>
  33333333
</div>
</ng-container> -->




<!-- <ng-container [ngSwitch]="pageNumber">
  <ng-container *ngSwitchCase="1">
    <div class="box box1" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="2">
    <div class="box box2" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container>
  
  <ng-container *ngSwitchCase="3">
    <div class="box box3" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="4">
    <div class="box box4" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="5">
    <div class="box box5" [@fadeInOut]="pageNumber">
      <button (click)="previousPage()">previous</button>
      <button (click)="nextPage()">next</button>
      {{pageNumber}}
    </div>
  </ng-container> -->

  <!-- [@fadeInOut]="pageNumber === page.id ? 'fadeIn' : 'fadeOut'" -->

  <!-- <ng-container *ngFor="let page of pages">
    <ng-container *ngSwitchCase="page.id">
      <div class="box box{{page.id}}" [@fadeInOut]="pageNumber === page.id ? 'fadeIn' : 'fadeOut'">
        <button (click)="previousPage()">previous</button>
        <button (click)="nextPage()">next</button>
      </div>
    </ng-container>
  </ng-container> -->

  
<!-- </ng-container> -->


<ng-container>
  <div class="container">
    <div class="header">

      <div class="icons">
        <img class="icon1" src="../assets/shopping/icon:step1-2.png" alt="" [class.hidden]="!isStep1">
        <img class="icon1" src="../assets/shopping//icon:step1-1.png" alt="" [class.hidden]="isStep1">

        <img src="../assets/shopping/icon:step2-1.png" alt="" [class.hidden]="!isStep1">
        <img src="../assets/shopping/icon:step2-2.png" alt="" [class.hidden]="!isStep2">
        <img src="../assets/shopping/icon:step2-3.png" alt="" [class.hidden]="!isStep3">

        <img class="icon3" src="../assets/shopping/icon:step3-1.png" alt="" [class.hidden]="isStep3">
        <img class="icon3" src="../assets/shopping/icon:step3-2.png" alt="" [class.hidden]="!isStep3">

        <!-- <img class="icon1" [src]="imgSrc.icon1">
        <img class="" [src]="imgSrc.icon2">
        <img class="icon3" [src]="imgSrc.icon3"> -->
      </div>

      <div class="steps">
        <img class="step1" src="../assets/shopping/process:step1-1.png" alt="" [class.hidden]="!isStep1">
        <img class="completed-step completed-step1" src="../assets/shopping/process:step1-2.png" alt=""[class.hidden]="isStep1">

        <span class="line1" [class.processing-line2]="isStep1" [class.processing-line3]="isStep2" [class.line-completed]="isStep3"></span>

        <img src="../assets/shopping/process:step2-3.png" alt="" [class.hidden]="!isStep1">
        <img src="../assets/shopping/process:step2-1.png" alt="" [class.hidden]="!isStep2">
        <img class="completed-step" src="../assets/shopping/process:step2-2.png" alt="" [class.hidden]="!isStep3">

        <span class="line2" [class.processing-line2]="isStep2" [class.processing-line3]="isStep3"></span>

        <img class="step3" src="../assets/shopping/process:step3-3.png" alt="" [class.hidden]="isStep3">
        <img class="step3" src="../assets/shopping/process:step3-1.png" alt="" [class.hidden]="!isStep3">

        <!-- <img class="step1" [src]="imgSrc.step1">
        <span class="line1" [class.processing-line2]="isStep1" [class.processing-line3]="isStep2" [class.line-completed]="isStep3"></span>
        <img class="" [src]="imgSrc.step2">
        <span class="line2" [class.processing-line2]="isStep2" [class.processing-line3]="isStep3"></span>
        <img class="step3" [src]="imgSrc.step3"> -->
      </div>

      <div class="wordings">
        <p [class.processing-wording]="isStep1" [class.wording-completed]="!isStep1">選擇產品/數量</p>
        <p [class.processing-wording]="isStep2" [class.wording-completed]="isStep3">配送資訊 </p>
        <p [class.processing-wording]="isStep3">送出訂單</p>
      </div>

    </div>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <button (click)="previousPage()">previous</button>
    <button (click)="nextPage()">next</button>
    <br/>
    step: {{step}}
    <br/>
    isStep1: {{isStep1}}
    <br/>
    isStep2: {{isStep2}}
    <br/>
    isStep3: {{isStep3}}

  </div>

</ng-container>